.search-tags,
.post-tags {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  overflow: auto;
}

.search-tags {
  height: calc(100vh - 2.5rem - 92px);
}

.post-wrapper {
  display: inline-block;
  width: 180px;
  height: 180px;
  text-align: center;

  .post-thumbnail {
    max-width: 180px;
    max-height: 180px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    position: relative;

    img {
      max-width: 150px;
      max-height: 150px;
    }

    .post-label {
      position: absolute;
      top: 8px;
      right: 8px;
      background: #d8dee4;
      padding: 0 4px;
      border-radius: 4px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 20px;
      color: #000;
      border: 1px solid #000;
    }
  }
}

.post {
  max-width: 100%;
  max-height: calc(100vh - 70px);
  margin-bottom: 15px;
}