#form-tags-search {
  input[type="search"] {
    width: calc(100% - 0.5rem - 71px);
  }
}

#form-tags-add {
  display: block;

  .selectize-control {
    width: calc(100% - 0.5rem - 54px);
  }

  .selectize-control,
  .selectize-control + button {
    display: inline-block;
    vertical-align: top;
    float: left;
  }
}