.page-link.disabled {
  background-color: #f5f5f5 !important;

  &:hover {
    color: #3490dc !important;
  }
}

.page-item.active {
  .page-link.disabled {
    color: #fff !important;
    background-color: #3490dc !important;
    border-color: #3490dc !important;
  }
}